# Assignment 1 - Die beste Gemeinde des Kantons Solothurn

In [14]:
import pandas as pd
import numpy as np
import warnings

# Suppress openpyxl warnings
warnings.simplefilter("ignore", UserWarning)

# Datenquellen:

1: Bundesamt für Statistik, Regionalporträts 2021: Kennzahlen aller Gemeinden: https://www.bfs.admin.ch/bfs/de/home/statistiken/regionalstatistik/regionale-portraets-kennzahlen/gemeinden/daten-erlaeuterungen.assetdetail.15864450.html

2: Aktueller Gemeindestand: https://www.agvchapp.bfs.admin.ch/de

In [20]:
# Load data from Gemeindestand.xlsx
file_path_gemeindestand = "data/Gemeindestand.xlsx"
df_gemeindestand = pd.read_excel(file_path_gemeindestand, sheet_name="Daten", engine="openpyxl")

df_gemeindestand.head()

,Hist.-Nummer,Kanton,Bezirks-nummer,Bezirksname,BFS Gde-nummer,Gemeindename,Datum der Aufnahme
0,13256,ZH,101,Affoltern,1,Aeugst am Albis,1976-11-15
1,11742,ZH,101,Affoltern,2,Affoltern am Albis,1848-09-12
2,11801,ZH,101,Affoltern,3,Bonstetten,1848-09-12
3,11992,ZH,101,Affoltern,4,Hausen am Albis,1911-01-01
4,12249,ZH,101,Affoltern,5,Hedingen,1848-09-12

In [39]:
# Load data from Regionalportraets.xlsx
file_path_regionalportraets = "data/Regionalportraets.xlsx"

# Skip the first 8 rows and set the header to none beacuse header is spread over multiple rows
df_regionalportraets = df = pd.read_excel(
    file_path_regionalportraets,
    skiprows=5,
    header=[0, 1],
    engine="openpyxl"
)

# Drop the rows which are all NaN
df_regionalportraets.dropna(how="all", inplace=True)

# Drop the row which was not specific to a Gemeinde
df_regionalportraets = df_regionalportraets.iloc[1:].reset_index(drop=True)

# Flatten the multiindex columns
df_regionalportraets.columns = [
    col[0] if pd.isna(col[1]) else f"{col[0]}_{col[1]}"
    for col in df_regionalportraets.columns
]

#Fix the header names for Gemeindecode and Gemeindename
df_regionalportraets.rename(columns={df_regionalportraets.columns[0]: 'Gemeindecode'}, inplace=True)
df_regionalportraets.rename(columns={df_regionalportraets.columns[1]: 'Gemeindename'}, inplace=True)


df_regionalportraets.head()

,Gemeindecode,Gemeindename,Einwohner_2019,Veränderung in %_2010-2019,Bevölkerungs-dichte pro km²_2019,Ausländer in %_2019,0-19 Jahre_2019,20-64 Jahre_2019,65 Jahre und mehr_2019,Rohe Heiratssziffer_2019,...,FDP 2)_2019,CVP_2019,SP_2019,SVP_2019,EVP/CSP_2019,GLP_2019,BDP_2019,PdA/Sol._2019,GPS_2019,Kleine Rechtsparteien_2019
0,1,Aeugst am Albis,1981.0,8.607456,250.442478,14.184755,19.787986,62.190813,18.021201,7.065355,...,16.421045,2.497974,11.565102,30.380959,3.22747,14.317294,1.263724,0.16211,15.050475,3.820647
1,2,Affoltern am Albis,12303.0,10.927779,1161.756374,28.700317,20.165813,61.667886,18.166301,5.543780,...,13.385437,4.535341,14.645255,30.30692,6.618556,12.666629,2.001445,0.198718,12.590564,1.555518
2,3,Bonstetten,5572.0,8.005427,749.932705,16.564968,23.636037,59.834889,16.529074,4.316547,...,15.354984,3.867961,16.742891,26.116313,4.194018,16.237935,1.28403,0.176013,12.368531,1.385022
3,4,Hausen am Albis,3751.0,11.636905,275.808824,16.022394,22.180752,59.824047,17.995201,3.220612,...,11.135163,3.934551,13.711509,33.18478,4.059761,12.416969,1.610747,0.19312,16.744127,1.610747
4,5,Hedingen,3778.0,10.791789,578.560490,16.410799,21.625199,61.646374,16.728428,3.727370,...,13.990898,3.87366,16.738323,26.601791,3.726851,16.415344,1.881252,0.182463,12.348734,2.170676